@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Avenir";
    src: url("/resources/fonts/AvenirLTStd-Roman-c.woff2") format("woff2"),
        url("/resources/fonts/AvenirLTStd-Roman-c.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Avenir LT", Sans-serif !important;
    src: url("/resources/fonts/Avenir-Black.woff2") format("woff2"),
        url("/resources/fonts/Avenir-Black.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Avenir LT", Sans-serif !important;
    src: url("/resources/fonts/AvenirLTStd-Black.woff2") format("woff2"),
        url("/resources/fonts/AvenirLTStd-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Avenir LT", Sans-serif !important;
    src: url("/resources/fonts/AvenirLTStd-Book.woff2") format("woff2"),
        url("/resources/fonts/AvenirLTStd-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Avenir";
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
a,
button,
select,
p,
div {
    font-family: "Avenir";
}

a {
    color: #0378bc;
}

div#cart_count_div a {
    color: #fff;
}

.page-load-two {
    display: none;
}

th.px-4.py-3.font-bold {
    font-weight: 500 !important;
    font-size: 15px;
}

.footer-heading-title {
    color: #333;
    font-family: "Avenir";
    font-weight: 600;
    font-size: 20px;
}

.footer {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #eaeaea;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}

.ctm-container {
    max-width: 1700px;
    padding-inline: 30px;
    margin-left: auto;
    margin-right: auto;
}

.five-content {
    text-align: left;
}

.detactor-right button {
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.ctm-grd-one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 16px;
    column-gap: 16px;
    row-gap: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 89%;
    left: 50%;
    z-index: 11;
    top: 45px;
    border-radius: 20px;
    border-top: 1px solid #ececec;
    transition: 0.8s;
    box-shadow: 0 4px 4px #00000040;
    padding: 40px 50px;
    transform: translateX(-50%);
}

.ctm-grd-two {
    display: grid;
    grid-template-columns: 27% 67%;
    gap: 16px;
    align-items: center;
    padding: 20px 0px;
}

.mobileLeft-Sidebar {
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
    box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    overflow-y: auto;
    width: 350px;
    border-radius: 0px 0px 0px 0px;
    z-index: 10;
}

.mobile-dropdown-content {
    background-color: #fff;
    width: 100%;
    border-radius: 20px;
    border-top: 1px solid #ececec;
    transition: 0.8s;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

/* product page start */
.ctm-prd-one {
    flex-direction: column;
}

.prodct-Category {
    display: grid;
    grid-template-columns: 330px 1fr;
    gap: 40px;
}

.product-grid-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

/* product page end */

/*single product page start */

/*slider css start */
.img-display {
    overflow: hidden;
    border: 1px solid #ececec;
    height: 600px;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
    height: 550px;
    object-fit: contain;
}

.img-select {
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.img-item:hover {
    opacity: 0.8;
}

.product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-item {
    padding: 10px;
    border: 1px solid #ececec;
}

/*slider css end */

.ctm-accordion .accordion-item {
    background-color: #fff;
    color: #111;
    margin-bottom: 20px;
}

.accordion-item-header {
    padding: 15px;
    line-height: 1.25em;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-color: #e5e6e7;
    /* border-image: linear-gradient(to right, transparent, #34495e, transparent) 1; */
}

.ctm-accordion .accordion-item-body-content p a {
    color: #0378bc;
    text-decoration: underline;
}

.linediv::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ececec;
    top: 50%;
    left: 0px;
}

.lineh6 {
    display: inline;
    z-index: 1;
}

.grid-four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-five {
    display: grid;
    grid-template-columns: 60px 1fr;
    border: 1px solid #ececec;
    border-radius: 16px;
    overflow: hidden;
}

.five-g-img {
    display: flex;
    align-items: center;
    border-right: 1px solid #ececec;
    /* background-color: #fff; */
}

.size-button {
    display: flex;
    gap: 15px;
}

.ctm-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.right-price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.text-set {
    text-align: right;
}

.detactor {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.detactor-right {
    text-align: right;
}

.chest-support {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.chest-img iframe {
    width: 100%;
}

.chest-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-select img {
    width: 95px;
    height: 95px;
}

/* New Css For Feedback */
.chest-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
}

.productOverviewLeft p,
.productOverviewLeft ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 16px;
    color: #6e6e73;
}

.productOverviewLeft h3 {
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 16px;
    color: #1d1d1f;
}

.accordion-item-header svg {
    width: 28px;
    height: 28px;
}

.product-card-content p {
    color: #f5f5f5;
}

.order-step .active span {
    border-color: #31ba32;
    color: #31ba32;
}

.order-step .active:after {
    background-color: #31ba32;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 14px;
}

#myTable thead {
    position: sticky;
    background: #00838f;
}

#myTable th {
    font-size: 13px;
}

#myTable th,
#myTable td {
    text-align: left;
    padding: 12px;
    font-size: 12px;
    font-weight: 500;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

.attribute_buttons_active {
    box-shadow: 7px 5px 5px #ff9119;
}

/* #myTable tr.header, #myTable tr:hover {
	  background-color: #f1f1f1;
	} */
/* .accordion-item-header svg path {
    fill: #00838f;
} */

.accordion-item-headers.accordion-item-headers-inner.active::after,
.accordion-item-headers.accordion-item-headers-innerchild.active::after {
    background-color: #008c99;
    border: 1px solid #008c99;
    background-image: url(https://bodypoint.dev/wp-content/uploads/2024/06/caret-white.svg);
    color: #fff;
}

.accordion-item-headers-inner::after,
.accordion-item-headers-innerchild::after {
    right: unset;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #cfcfcf;
    background-color: #eceded;
}

.accordion-item-headers-inner.active,
.accordion-item-headers-innerchild.active {
    background-color: transparent;
    color: #000;
}

/*single product page end */
.product-images-box .slider-for .slick-slide {
    border: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    min-height: 541px;
}

.product-images-box .slider-nav .slick-slide {
    border: 1px solid #ececec;
    display: flex;
    align-items: center;
    padding: 12px;
}

.product-images-box .slider-nav .slick-track {
    display: inline-flex;
    gap: 12px;
}

.product-images-box .slider-for .slick-list {
    width: calc(100% - 16px);
    margin: 0 auto 24px;
}

.product-outer-box {
    width: 50%;
}

.out-off-stock {
    text-align: right;
    margin-top: 7px;
}

.out-off-stock h1 {
    display: inline-block;
    color: red;
    padding: 3px 7px;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: system-ui;
    font-size: 14px;
}

.place_order_form {
    text-align: right;
    display: flex;
    justify-content: end;
}

.swal-button-color {
    box-shadow: none !important;
}

/* vault page */
.accordion-item-headers.active {
    background: #00838f;
    color: #fff;
}

.accordion-item-headers.accordion-item-headers-first.active {
    border-radius: 16px 16px 0 0;
}
.accordion-item-body-content-inner {
    border: 0;
    padding: 0;
}

.accordion-item-headers::after {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    margin-right: 0;
    transition: transform 0.3s;
    position: absolute;
    right: 15px;
    top: 14px;
    background-color: #f6f6f6;
    background-image: url(https://bodypoint.dev/wp-content/uploads/2024/06/caret-bottom.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center center;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.accordion-item-headers.active::after {
    background-color: #d9fcff;
    background-image: url(https://bodypoint.dev/wp-content/uploads/2024/06/caret-top.svg);
}

.accordion-item-body {
    transition: max-height 0.2s ease-out;
}
.accordion-item-headers-inner::after,
.accordion-item-headers-innerchild::after {
    width: 20px;
    height: 20px;
    top: 0;
}
.accordion-item-headers-innerchild {
    padding: 0 0 0 28px;
}
.accordion-item-headers.accordion-item-headers-inner.active,
.accordion-item-headers.accordion-item-headers-innerchild.active {
    background-color: transparent;
    color: #000;
}
.accordion-item-body-content-inner ul {
    margin-bottom: 16px;
}
ul.active_campaigns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 8px;
}
ul.active_campaigns li {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
/* end vault page */

@media (max-width: 991px) {
    .product-outer-box {
        width: 100%;
    }

    .prodct-Category {
        gap: 12px;
    }
}

@media (max-width: 1024px) {
    .ctm-grd-one {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0px;
    }

    .ctm-grd-two {
        display: flex;
        gap: 12px;
        align-items: center;
        border-bottom: 1px solid #f5f5f7;
        padding: 10px 0;
    }

    .prd-img {
        height: auto;
        padding: 0px;
        width: 40px;
    }

    .ctm-grd-two img {
        height: 40px;
        object-fit: cover;
    }

    .prd-cntnt > a {
        font-size: 16px;
        font-weight: 600;
    }

    .prd-cntnt p a {
        font-size: 14px;
    }

    .ctm-pt {
        padding-top: 12px;
    }
}

@media (min-width: 993px) and (max-width: 1180px) {
    .prodct-Category {
        gap: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .product-grid-three {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .product-grid-three {
        grid-template-columns: 1fr 1fr;
    }

    .grid-four {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 992px) {
    .category-sub-cat {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .prodct-Category {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .grid-four {
        grid-template-columns: 1fr;
    }

    .detactor-right button {
        margin-bottom: 5px;
        margin-right: 0px;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .prodct-Category {
        grid-template-columns: 1fr;
    }

    .product-grid-three {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 300px) and (max-width: 576px) {
    .grid-four {
        grid-template-columns: 1fr;
    }

    .ctm-price {
        grid-template-columns: 1fr;
    }

    .text-set {
        text-align: left;
    }

    .right-price {
        justify-content: start;
        margin-top: 10px;
    }

    .img-display {
        height: 400px;
    }

    .img-showcase img {
        height: 350px;
    }

    .img-select {
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-item {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 300px) and (max-width: 767px) {
    .prodct-Category {
        grid-template-columns: 1fr;
    }

    .product-grid-three {
        grid-template-columns: 1fr;
    }

    .ctm-container-two {
        padding: 0px 15px;
    }

    .ctm-mobile-mrgn {
        margin-top: 15px;
    }

    .chest-support {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .accordion-item-header {
        font-size: 18px;
    }

    .ctm-container-two {
        padding: 0 15px;
    }

    .detactor {
        display: flex;
        gap: 16px;
        justify-content: space-between;
    }

    .product-details p {
        text-align: center;
    }

    .prd-cntnt {
        flex: 1;
    }
}

@media (max-width: 400px) {
    .mobileLeft-Sidebar {
        width: 318px;
    }
}
